/* linking local font files */
@import url('fonts.css');

/* linking reset style file */
@import url('reset.css');

@import url('common.css');

/* header */

.header {
  position: relative;
  z-index: 30;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 96px;
  padding-block: 18px;
  gap: 15px;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 3px;
  align-items: center;
  justify-content: center;
  padding-inline: 5px;
}

.menu__item {
  padding-block: 5px;
  max-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__item--activ {
  color: #37447E;
}

.menu__link {
  color: #505F98;
  font-size: 14px;
  line-height: 1.71;
  /* 171.429% */
  text-transform: capitalize;
}

.menu__item::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #505F98;
  transform: scale(0);
}

.menu__item:focus-visible::after {
  animation: scale 0.5s ease-in 1 forwards;
  outline: none;
}

.actions-header {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon-menu {
  display: none;
}

.actions-header__btn {
  min-width: 160px;
  padding-block: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
}

/* header */

/* main */
.hero__container {
  padding-block: 303px 386px;
  position: relative;
}

.hero__text {
  max-width: 47.2807%;
  /* 539/1140 */
}

.hero__title.title {
  font-size: 50px;
  line-height: 1.32;
}

.hero__title {
  margin-block-end: 20px;
}

.hero__content.content {
  font-size: 18px;
}

.hero__content {
  margin-block-end: 69px;
}

.hero__buttons {
  display: flex;
  gap: 30px;
}

.hero__dark-btn.dark-btn,
.hero__light-btn.light-btn {
  font-weight: 500;
  line-height: 1.62;
  padding-block: 5px;
  flex-basis: 189px;
}

.hero__figure {
  position: absolute;
  top: -49px;
  left: 254.17px;
  width: 1490px;
  height: 1161px;
  aspect-ratio: 1491 / 1161;
  z-index: -1;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__background img {
  object-fit: cover;
  aspect-ratio: 1491 / 1161;
}

.hero__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 245px;
  left: 385px;
}

.hero__image img {
  object-fit: cover;
  aspect-ratio: 975 / 780;
}

/* info */

.info__container,
.news__container,
.intro__container,
.cta__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.info__container {
  padding-block: 109px;
}

.info__title,
.news__title {
  margin-block-end: 16px;
}

.info__content {
  margin-block-end: 80px;
}

.info__cards {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-auto-rows: 138px;
  gap: 30px;
}

.card-info__figure {
  max-width: 36px;
  max-height: 36px;
  margin-block-end: 14px;
}

.card-info__figure img {
  object-fit: cover;
}

.card-info__title {
  font-weight: 500;
  line-height: 1.62;
  /* 162.5% */
  color: #091133;
  margin-block-end: 6px;
  transition: color 0.4s linear;
}

.card-info__title:focus-visible {
  color: #505F98;
}

.card-info__content {
  font-size: 12px;
  line-height: 1.5;
  /* 150% */
  color: #5D6970;
}

.info__figure img {
  object-fit: cover;
  aspect-ratio: 540 / 524;
}

.news__container {
  padding-block: 122px 131px;
  gap: 40px;
}

.news__figure img {
  object-fit: cover;
  aspect-ratio: 480 / 316;
}

.news__text,
.intro__text,
.cta__text {
  flex-basis: 445px;
}

.intro__container {
  gap: 40px;
  padding-block: 90px;
}

.intro__figure img {
  object-fit: cover;
  aspect-ratio: 540 / 387;
}

.cta__container {
  gap: 40px;
  padding-block: 118px 116px;
}

.cta__figure img {
  object-fit: cover;
  aspect-ratio: 445 / 312;
}

.pricing__bg {
  position: absolute;
  top: 0;
  left: -620px;
  z-index: -1;
  width: 2547px;
  height: 938px;
  aspect-ratio: 2547 / 938;
}

.pricing__bg img {
  object-fit: cover;
  aspect-ratio: 2547 / 938;
}

.pricing__container {
  min-height: 804px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing__text {
  flex-basis: 600px;
  text-align: center;
}

.pricing__title {
  margin-block-end: 16px;
}

.pricing__content {
  margin-block-end: 35px;
}

.pricing__val {
  display: flex;
  flex-direction: column;
  margin-block-end: 60px;
}

.pricing__cost {
  font-size: 50px;
  color: #222F65;
  font-weight: 500;
  line-height: 1.32;
  /* 132% */
  letter-spacing: 1px;
}

.pricing__val-title {
  color: #37447E;
  line-height: 1.62;
}

.pricing__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.pricing__link-title {
  font-size: 14px;
  line-height: 1.71;
  /* 171.429% */
}

.pricing__btn {
  padding-block: 4px;
  min-width: 189px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  /* 171.429% */
}

/* main */

/* footer */

.footer {
  background: #E7ECFF;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 139px 1px 76px;
  column-gap: 20px;
  row-gap: 40px;
  padding-block: 61px 32px;
}

.footer__item:first-child,
.footer__item:nth-child(2),
.footer__item:nth-child(3n) {
  align-self: center;
}

.footer__item:nth-child(5),
.footer__item:last-child {
  align-self: center;
}

.footer__item:first-child,
.footer__item:nth-child(5) {
  justify-items: start;
}

.footer__item:nth-child(2) {
  justify-items: center;
}

.footer__item:nth-child(3),
.footer__item:last-child {
  justify-items: end;
}

.footer__item:nth-child(4) {
  grid-column: 1 / 4;
}

.footer__item:nth-child(5) {
  grid-column: 1 / 3;
}

.footer__copy {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  /* 171.429% */
  color: #939EA4;
  width: fit-content;
  min-height: 37px;
  display: flex;
  align-items: center;
}

.footer__btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  min-width: 109px;
  padding-block: 4px;
}

.footer__hr {
  height: 1px;
  background: #CDD1D4;
}

.social__list {
  display: flex;
  gap: 30px;
}

.social__link {
  width: 16px;
  height: 16px;
}

.social__link img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

/* end footer */

@media(any-hover: hover) {
  .dark-btn:hover {
    background-color: inherit;
    border: 2px solid #091133;
    color: #091133;
  }

  .light-btn:hover {
    color: #fff;
    background-color: #111B47;
  }

  .menu__item:hover::after {
    animation: scale 0.4s ease-in 1 forwards;
  }

  .card-info__title:hover {
    color: #505F98;
  }
}

@media(max-width: 991.98px) {

  .hero__container {
    padding-block-end: 109px;
  }

  .hero__text {
    padding-block-start: 700px;
    max-width: 100%;
  }

  .hero__figure {
    left: 15px;
    max-width: 1312px;
  }

  .hero__background img {
    max-width: 1312px;
  }

  .hero__image {
    left: 115px;
  }

  .hero__image img {
    max-width: 797px;
  }

  .info__container,
  .news__container,
  .intro__container,
  .cta__container {
    flex-direction: column;
  }

  .info__container {
    padding-block: 54px;
  }

  .news__container {
    padding-block: 61px 65px;
  }

  .news__text,
  .intro__text,
  .cta__text {
    flex-basis: auto;
  }

  .intro__container {
    padding-block: 45px;
  }

  .cta__container {
    padding-block: 59px 58px;
  }

  .footer__container {
    grid-template-rows: auto;
  }

  .social__link {
    width: 18px;
    height: 18px;
  }
}

@media(max-width: 767.98px) {
  .actions-header {
    flex-basis: 50%;
    justify-content: space-between;
  }

  .actions-header__btn {
    min-width: 130px;
  }

  .icon-menu {
    flex-shrink: 0;
    flex-basis: 30px;
    display: flex;
    flex-direction: column;
  }

  .icon-menu span {
    margin-block: 6px;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    transition: all 0.3s;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000;
  }

  .menu__body {
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 2;
    transition: inset-inline-start 0.3s;
    overflow: auto;
    padding: 100px 15px 30px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .menu__body::before {
    content: "";
    position: fixed;
    block-size: 80px;
    inline-size: 100%;
    inset-inline-start: 100%;
    inset-block-start: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.3);
    transition: inset-inline-start 0.3s;
  }

  .menu__list {
    flex-direction: column;
    border: none;
    align-items: end;
    row-gap: 25px;
  }

  .menu__link {
    font-size: 24px;
    padding: 0;
  }

  .open-menu .menu__body,
  .open-menu .menu__body::before {
    inset-inline-start: 0;
  }

  .open-menu .icon-menu span {
    width: 0;
    height: 0;
    margin: 0;
  }

  .open-menu .icon-menu::before {
    transform: rotate(45deg) translateY(1.5px);
  }

  .open-menu .icon-menu::after {
    transform: rotate(-45deg) translateY(-1.5px);
  }

  .open-menu body {
    overflow: hidden;
  }

  .hero__text {
    padding-block-start: 600px;
  }

  .hero__figure {
    max-width: 1195px;
  }

  .hero__background img {
    max-width: 1195px;
  }

  .hero__image {
    left: 85px;
  }

  .hero__image img {
    max-width: 778px;
  }

  .info__figure img,
  .intro__figure img {
    max-width: 490px;
  }

  .footer__menu .menu__list {
    align-items: start;
  }

  .footer__menu .menu__link {
    font-size: 16px;
  }

  .footer__item:last-child {
    align-self: center;
  }

  .social__link {
    width: 20px;
    height: 20px;
  }
}

@media(max-width: 574.98px) {
  .hero__text {
    padding-block-start: 500px;
  }

  .hero__figure {
    max-width: 995px;
  }

  .hero__background img {
    max-width: 995px;
  }

  .hero__image {
    left: 55px;
  }

  .hero__image img {
    max-width: 578px;
  }

  .info__figure img,
  .news__figure img,
  .intro__figure img,
  .cta__figure img {
    max-width: 400px;
  }

  .news__container {
    padding-block: 41px 45px;
  }

  .intro__container {
    padding-block: 35px;
  }

  .cta__container {
    padding-block: 49px 48px;
  }

  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .footer__item:first-child {
    grid-row-start: 6;
  }

  .footer__item:nth-child(4) {
    grid-column: 1 / 2;
  }

  .footer__item:nth-child(5) {
    grid-column: 1 / 2;
  }

  .footer__item:nth-child(2) {
    justify-items: start;
    grid-row-start: 1;
  }

  .footer__item:nth-child(3),
  .footer__item:last-child {
    justify-items: start;
  }

  .social__link {
    width: 22px;
    height: 22px;
  }

}

@media(max-width:374.98px) {
  .actions-header {
    flex-grow: 1;
  }

  .hero__container {
    padding-block: 100px 59px;
  }

  .hero__text {
    padding-block-start: 560px;
  }

  .hero__figure {
    max-width: 895px;
  }

  .hero__background img {
    max-width: 895px;
  }

  .hero__image img {
    max-width: 478px;
  }

  .info__figure img,
  .news__figure img,
  .intro__figure img,
  .cta__figure img {
    max-width: 355px;
  }

  .news__container {
    padding-block: 31px 35px;
  }

  .social__link {
    width: 24px;
    height: 24px;
  }

}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}