html {
  scroll-behavior: smooth;
}

* {
  scroll-margin-top: 4.375rem;
}

body {
  font-family: "Montserrat", serif;
  color: var(--prymery);
}

body.lock {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.menu__link--active {
  background-color: var(--colorBackground);
  border-left: 0.56rem solid var(--prymery);
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[class*="__header"] {
  margin-block-end: 0.75rem;
  display: flex;
  column-gap: 0.62rem;
  align-items: center;
}

[class*="__header"]>[class*="__title"] {
  flex-grow: 1;
}

.button-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.0625rem;
  padding: 0.3125rem 0.625rem;
  font-size: 1.5rem;
  color: var(--colorBlue-2);
  font-weight: 600;
  border-radius: 0.5rem;
  transition: all 0.3s ease 0.1s;
}

.button-link svg {
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
}

.button-link:focus-visible {
  background-color: var(--colorBlue-2);
  color: var(--absoluteWhite);
  outline: none;
  box-shadow: 0px 4px 10px 0px rgba(36, 36, 92, 0.25);
}

.button-link:focus-visible path {
  fill: var(--absoluteWhite);
}

[class*="__logo"]:not(.header__logo) {
  width: clamp(1.125rem, -0.125rem + 2.604vw, 3rem);
  height: clamp(1.125rem, -0.125rem + 2.604vw, 3rem);
  overflow: hidden;
  flex-shrink: 0;
}

.title {
  font-size: clamp(1.125rem, 0.375rem + 1.563vw, 2.25rem);
  color: var(--prymery);
  font-weight: 700;
}

.button,
.light-btn {
  text-align: center;
  white-space: nowrap;
  padding: 1.25rem 1.875rem;
  border-radius: 0.625rem;
  font-size: clamp(1rem, -2.036rem + 3.571vw, 2.25rem);
  font-weight: 600;
  transition: all 0.3s ease 0.1s;
}

.button {
  border: 0.1875rem solid var(--colorBlue);
  background-color: var(--colorBlue);
  color: var(--absoluteWhite);
}

.button:focus-visible {
  background-color: var(--colorBlue-2);
  border-color: var(--colorBlue-2);
  box-shadow: 0 0.25rem 0.625rem 0 rgba(36, 36, 92, 0.25);
  outline: none;
}

.light-btn {
  border: 0.1875rem solid var(--colorBlue);
  color: var(--colorBlue);
}

.light-btn:focus-visible {
  background-color: var(--colorBlue);
  color: var(--absoluteWhite);
  box-shadow: 0px 4px 10px 0px rgba(36, 36, 92, 0.25);
  outline: none;
}

.tell-button {
  width: clamp(2rem, 0rem + 4.167vw, 5rem);
  height: clamp(2rem, 0rem + 4.167vw, 5rem);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--colorRedBright);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.offise__tell-button-wrapper {
  position: relative;
}

.tooltip {
  display: none;
  flex-direction: column;
  row-gap: 0.62rem;
  padding: 0.6875rem 1.25rem 1.25rem 1rem;
  align-items: center;
  position: absolute;
  top: 65%;
  left: -260%;
  z-index: 3;
  border-radius: 0.5rem 0rem 0.5rem 0.5rem;
  border: 1px solid var(--colorGrayLight);
  background-color: var(--absoluteWhite);
  box-shadow: 0px 4px 10px 0px rgba(36, 36, 92, 0.25);
}

.tooltip__txt {
  color: #000;
  font-weight: 500;
}

.tooltip__tell {
  font-size: 1.5rem;
  font-weight: 600;
}

/* tooltip-card ============================================== */

.tooltip-card {
  display: none;
  flex-direction: column;
  border-radius: 0.9375rem;
  background: var(--absoluteWhite);
  position: absolute;
  top: 65%;
  left: -400%;
  z-index: 3;
  box-shadow: 0px 4px 10px 0px rgba(36, 36, 92, 0.25);
}

.tooltip-card__header {
  background-color: var(--colorBlueLight);
  padding-block-end: 0.75rem;
  padding-block-start: 0.81rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.62rem;
  align-items: center;
  border-radius: 0.9375rem 0.9375rem 0 0;
}

.tooltip-card__header figure {
  width: 6.25rem;
  height: 6.25rem;
  overflow: hidden;
  border-radius: 50%;

}

.tooltip-card__header figcaption {
  display: flex;
  flex-direction: column;
  row-gap: 0.62rem;
  align-items: center;
}

.tooltip-card-name {
  font-size: 1.875rem;
  font-weight: 500;
}

.tooltip-card__position {
  font-size: 1.25rem;
  font-weight: 500;
}

.tooltip-card__body {
  padding-block-end: 2.5rem;
  padding-block-start: 1.47rem;
  padding-inline-start: 2rem;
  padding-inline-end: 1.25rem;
}

.tooltip-card__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.tooltip-card__link {
  display: flex;
  column-gap: 0.62rem;
  align-items: center;
}

.tooltip-card__link img {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}

/* tooltip-card ============================================== */

.tell-button img {
  width: clamp(1.5rem, 1.069rem + 1.609vw, 3rem);
  height: clamp(1.5rem, 1.069rem + 1.609vw, 3rem);
}

.wrapper {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: auto 1fr;
  column-gap: 1.25rem;
  row-gap: 1.25rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 6;
  grid-column: span 3;
}

.header__container {
  max-height: clamp(6.63rem, 3.65rem + 6.208vw, 11.1rem);
  background-color: var(--prymery);
  padding-inline-end: 3.25rem;
  padding-block-end: 2.38rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  aspect-ratio: 236 / 241;
  max-height: 15.0625rem;
  overflow: hidden;
  transform: translateY(2.38rem);
}

.header__text {
  color: var(--absoluteWhite);
  font-weight: 600;
}

.header__title {
  font-size: clamp(1rem, 0.167rem + 1.736vw, 2.25rem);
  margin-block-end: clamp(0.625rem, 0.375rem + 0.521vw, 1rem);
}

.header__desc {
  font-size: clamp(0.625rem, 0.042rem + 1.215vw, 1.5rem);
}

.header__desc span {
  color: var(--colorYellowBright);
}

.actions-header {
  display: none;
}

.main {
  grid-column: span 2;
  background-color: var(--colorBackground);
  padding: clamp(0.625rem, 0.208rem + 0.868vw, 1.25rem);
  border-radius: 1.25rem;
}

.main__item {
  margin-block-end: clamp(0.625rem, 0.208rem + 0.868vw, 1.25rem);
}

.main__item:first-child {
  display: flex;
  column-gap: 1.25rem;
}

.main__item:nth-child(2),
.main__item:nth-child(6),
.main__item:nth-child(7) {
  display: flex;
  gap: clamp(0.625rem, 0.208rem + 0.868vw, 1.25rem);
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
  border-radius: 1.25rem;
  background: var(--absoluteWhite);
  padding-block-start: clamp(1.19rem, 1.023rem + 0.347vw, 1.44rem);
  padding-block-end: clamp(1.19rem, -0.097rem + 2.681vw, 3.12rem);
  padding-inline: clamp(0.62rem, -0.427rem + 2.181vw, 2.19rem);
}

section>[class*="__body"] {
  flex-grow: 1;
}

.info-block {
  flex-basis: 21rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.flickity-page-dots {
  bottom: 0px;
}

.flickity-page-dots .dot {
  position: absolute;
  left: -30000px;
  top: 0;
  z-index: -300;
  width: 0;
  height: 0;
  opacity: 0;
  background: transparent;
  border: 1px solid transparent;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: transparent;
}

#scrollTopBtn {
  position: fixed;
  top: clamp(7.88rem, 4.9rem + 6.208vw, 12.35rem);
  left: 1.5rem;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.625rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s, transform 0.3s;
}

#scrollTopBtn img {
  transform: rotate(-90deg);
  width: 1.5rem;
  height: 1.5rem;
}

#scrollTopBtn.show {
  display: block;
  opacity: 1;
  transform: scale(1);
}

#scrollTopBtn.hide {
  opacity: 0;
  transform: scale(0.8);
}