@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

/* linking reset style file */
@import url('reset.css');

@import url('variables.css');

@import url('common.css');

@import url('aside.css');

@import url('reklama.css');

@import url('news.css');

@media (min-width: 48em) {

  .card-webinars--registered .card-webinars__body:not(.card-webinars__author) {
    color: var(--colorBlue-2);
  }

  .card-webinars--registered .card-webinar__time {
    color: var(--colorBlue-2);
  }
}

/* legal-aid ============================================================== */

.legal-aid {
  flex-grow: 1;
  border-radius: 1.25rem;
}

.legal-aid__header {
  margin-block-end: 1.38rem;
}

.legal-aid__form {
  margin-block-end: 1.44rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  row-gap: 1.12rem;
  padding-block-end: 1.22rem;
}

.form__line:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
  border: 0.0625rem solid var(--colorGray);
}

.form__line:last-child {
  justify-items: end;
}

.form__textarea {
  resize: vertical;
  min-height: 6.5rem;
  padding: 0.28619rem;
  border-bottom: 0.0625rem solid var(--colorGray);
}

.form__textarea::placeholder {
  color: var(--colorGrayDark);
}

.form__textarea:focus {
  outline: none;
}

.btn-form {
  padding: 0.5rem 1rem;
  background-color: var(--colorGrayDark);
  min-height: 100%;
  display: flex;
  align-items: center;
  column-gap: 0.375rem;
  border-radius: 0 0.375rem 0.375rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--colorGrayDark);
  transition: all 0.3s ease 0.1s;
}

.btn-form span {
  display: none;
}

.btn-form__icon svg {
  width: 3.75rem;
  height: 3.75rem;
}

.btn-form__icon path {
  fill: var(--absoluteWhite);
}

.btn-form__icon {
  padding-inline: 1.38rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-form {
  display: flex;
  column-gap: 0.62rem;
  min-height: 2.5625rem;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.56rem;
}

.group-form__fields {
  display: flex;
  column-gap: 1.25rem;
}

.group-form__input {
  display: none;
}

.group-form__label {
  cursor: pointer;
  transition: all 0.3s ease 0.1s;
  position: relative;
}

.group-form__label img {
  width: clamp(2.25rem, 1.819rem + 1.609vw, 3.75rem);
  height: clamp(2.25rem, 1.819rem + 1.609vw, 3.75rem);
  overflow: hidden;
}

.group-form__label::after {
  content: "Прикріпити файл";
  font-weight: 500;
  height: 3.38rem;
  width: fit-content;
  border: 1px solid var(--colorGrayLight);
  padding: 0.6875rem 0.75rem;
  border-radius: 0.375rem 0.375rem 0.375rem 0rem;
  color: var(--colorGrayDark);
  background-color: var(--absoluteWhite);
  position: absolute;
  top: -100%;
  left: 100%;
  z-index: 2;
  display: none;
}

.group-form__file-info span,
.group-form__photo-info span {
  font-size: 1.25rem;
  font-weight: 500;
}

.group-form__file-info .group-form__file-size {
  color: var(--colorGray);
}

.group-form__file-size-note {
  font-size: 0.875rem;
  color: var(--colorBlue-2);
}

.questions__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-block-end: 0.62rem;
}

.questions__table {
  width: 100%;
  margin-block-end: 1.44rem;
}

.questions__indicator {
  width: 1rem;
}

.questions__indicator-val {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.questions__indicator-val--green {
  background-color: var(--colorGreen);
}

.questions__indicator-val--red {
  background-color: var(--colorRedBright);
}

.questions__desc {
  color: var(--colorBlueBlackDark);
  font-weight: 500;
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  max-width: clamp(5rem, -109rem + 120vw, 35rem);
  text-overflow: ellipsis;
}

.questions__date {
  font-size: 0.75rem;
  color: var(--colorGrayDark);
}

.questions__status {
  font-weight: 600;
  color: var(--colorBlue-2);
}

.questions__status--active {
  color: var(--colorRedBright);
}

.questions__important {
  width: 1.5rem;
  height: 1.5rem;
}

.questions__notification {
  width: 2.25rem;
  height: 2.25rem;
  overflow: hidden;
}

.questions__more {
  display: none;
}

.legal-aid__footer {
  display: flex;
  flex-direction: column;
  row-gap: 2.57rem;
}

.legal-aid__link {
  width: fit-content;
  align-self: flex-end;
}

.legal-aid__btn {
  display: inline-block;
  align-self: center;
}

/* service ========================================================== */

.services-pro {
  flex-basis: 50%;
}

.services-pro__header {
  margin-block-end: clamp(1.88rem, 1.547rem + 0.694vw, 2.38rem);
}

.services-pro__body {
  margin-block-end: 2.81rem;
}

.services-pro__list-title {
  font-size: 1.875rem;
  font-weight: 600;
  margin-block-end: 1.25rem;
}

.services-pro__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  list-style-type: disc;
}

.services-pro__item {
  display: flex;
  column-gap: 0.65rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.services-pro__item {
  font-size: 1rem;
}

.services-pro__item::before {
  content: "";
  height: 0.19rem;
  width: 0.19rem;
  border-radius: 50%;
  background-color: var(--prymery);
}

.services-pro__btn {
  width: 100%;
}

/* humor ================================================== */

.humor {
  padding-inline: 0;
  background-color: var(--colorBlueLight);
  flex-basis: 50%;
}

.humor__header {
  margin-block-end: 3.5rem;
  padding-inline: 2.19rem;
}

.humor__body {
  margin-block-end: 3.5rem;
}

.slider__figure {
  aspect-ratio: 335 / 310;
  overflow: hidden;
  height: 23.5rem;
  margin-inline-end: 1.25rem;
}

.humor__footer {
  padding-inline: clamp(1.12rem, 0.407rem + 1.486vw, 2.19rem);
}

.humor__btn {
  width: 100%;
}

/* staff ============================================ */

.staff__header {
  margin-block-end: 1.44rem;
}

.staff__body {
  margin-block-end: 3.12rem;
}

.staff__list {
  margin-block-end: 0.62rem;
}

.list-staff {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.list-staff__item {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  font-size: 1.5rem;
}

.list-staff__item:last-child {
  flex-direction: row;
}

.list-staff__title {
  font-weight: 600;
}

.list-staff__val {
  font-weight: 600;
}

.staff__list-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
  margin-block-end: 3rem;
  column-gap: 1rem;
  transform: translateX(1rem);
}

.staff__list-btn.button {
  font-size: 1rem;
  padding-block: 0.8rem;
  padding-inline: 1.53rem;
}

.staff__list-success {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--colorGrayDark);
}

.staff__sub-title {
  display: inline-block;
  font-size: clamp(1.25rem, 0.833rem + 0.868vw, 1.875rem);
  font-weight: 600;
  margin-block-end: 0.62rem;
  color: var(--colorBlue-2);
}

.regulatory-list {
  display: flex;
  flex-direction: column;
  column-gap: 1.88rem;
  row-gap: 0.62rem;
}

.staff__regulatory-list-wrapper {
  margin-block-end: 3.06rem;
}

.regulatory-list__title {
  font-size: clamp(1.25rem, 0.833rem + 0.868vw, 1.875rem);
  font-weight: 500;
}

.regulatory-list__text {
  font-size: clamp(1rem, 0.667rem + 0.694vw, 1.5rem);
  font-weight: 600;
}

.regulatory-list__label {
  display: none;
}

.staff__label {
  text-align: right;
  font-size: 1.25rem;
  font-weight: 500;
  margin-block-end: 1.03rem;
}

.staff__inner {
  display: flex;
  column-gap: 1.25rem;
  justify-content: space-between;
}

.graph-staff {
  flex-basis: 70%;
  display: flex;
  border-radius: 1.25rem;
  background-color: var(--colorGrayLight);
  padding-block-start: 1.06rem;
  padding-block-end: 1.83rem;
  padding-inline: 0.71rem;
  justify-content: space-between;
}

.graph-staff__graph-fop,
.graph-staff__graph-number {
  display: flex;
  flex-direction: column;
  row-gap: 1.43rem;
  align-items: center;
  flex-basis: 49.333%;
}

.graph-staff__inner {
  position: relative;
}

.graph-staff__inner svg {
  width: 8.9375rem;
  /* 143/16 */
  height: 8.9375rem;
  /* 143/16 */
}

.graph-staff__label {
  position: absolute;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--colorBlue-2);
}

.graph-staff__label.left {
  top: 65%;
  left: -2rem;
}

.graph-staff__label.right {
  top: 20%;
  right: -2rem;
}

.graph-staff__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.graph-staff__graph-number .graph-staff__legend {
  min-width: 70%;
}

.graph-staff__legend {
  min-width: 100%;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.graph-staff__legend p {
  display: flex;
  align-items: center;
  column-gap: 0.34rem;
}

.graph-staff__legend p::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.06719rem;
}

.graph-staff__legend p:first-child::before {
  background-color: var(--absoluteWhite);
}

.graph-staff__legend p:last-child::before {
  background-color: var(--colorBlue-2);
}

.legend-staff {
  display: flex;
  flex-direction: column;
  row-gap: 1.19rem;
  font-weight: 500;
}

.legend-staff__order {
  color: var(--colorGrayDark);
  transition: all 0.4s ease 0.1s;
  font-size: 1.5rem;
}

.legend-staff__indicators {
  display: flex;
  align-items: center;
  column-gap: 1.62rem;
  font-size: 1.875rem;
}

.legend-staff__indicators span {
  display: flex;
  column-gap: 0.38rem;
}

.legend-staff__indicators span::after {
  content: "";
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.125rem;
}

.legend-staff__indicators span:first-child::after {
  background-color: var(--colorRedBright);
}

.legend-staff__indicators span:nth-child(2)::after {
  background-color: var(--colorGreenDark);
}

.legend-staff__indicators span:last-child::after {
  background-color: var(--colorRedBright);
}

.legend-staff__ordered {
  font-weight: 600;
  font-size: clamp(1rem, 0.667rem + 0.694vw, 1.5rem);
}

.staff__footer {
  display: flex;
  justify-content: center;
}

.staff__link-wrapper {
  display: none;
}

.staff__btn {
  min-width: 40%;
}

/* staff ============================================ */

/* calculation =========================================== */

.calculation__header {
  margin-block-end: 3.5rem;
}

.calculation__body {
  margin-block-end: 1.56rem;
}

.calculation__inner {
  display: flex;
  justify-content: space-between;
  column-gap: clamp(1rem, -3.857rem + 5.714vw, 3rem);
  margin-block-end: 2.06rem;
}

.calculation__text {
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.list-calculation {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  font-size: 1.5rem;
  margin-block-end: 5.54rem;
}

.list-calculation__title {
  font-weight: 600;
  font-size: 1.5rem;
}

.list-calculation__text {
  font-weight: 500;
  font-size: clamp(1rem, 0.667rem + 0.694vw, 1.5rem);
}

.calculation__sub-title {
  font-size: clamp(1.25rem, 0.833rem + 0.868vw, 1.875rem);
  font-weight: 700;
  margin-block-end: 1.69rem;
}

.table-calculation {
  width: 100%;
  font-size: clamp(1.25rem, 0.833rem + 0.868vw, 1.875rem);
}

.table-calculation__title {
  font-weight: 500;
}

.table-calculation__val {
  font-weight: 700;
  color: var(--colorBlue-2);
}

.graph-calculation {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.28rem;
}

.graph-calculation__graph {
  max-width: 100%;
  height: 25.6rem;
}

.graph-calculation__notation {
  display: flex;
  justify-content: center;
  column-gap: 3.97rem;
  font-size: clamp(1rem, 0.667rem + 0.694vw, 1.5rem);
  font-weight: 500;
}

.graph-calculation__notation div {
  display: flex;
  align-items: center;
  column-gap: 0.86rem;
}

.graph-calculation__notation div::before {
  content: "";
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.08456rem;
}

.graph-calculation__notation div:first-child::before {
  background-color: var(--colorRed);
}

.graph-calculation__notation div:last-child::before {
  background-color: var(--colorBlue-2);
}

.calculation__tb-reciept-wrapper {
  background-color: var(--colorGreenLight);
  padding: 1.25rem;
  border-radius: 1.25rem;
  margin-block-end: 3.25rem;
}

.table-reciept__head {
  margin-block-end: 0.62rem;
  font-size: clamp(1.25rem, 0.833rem + 0.868vw, 1.875rem);
  color: var(--colorGreenDark);
  font-weight: 600;
}

.table-reciept__table {
  width: 80%;
  font-size: 1.5rem;
  font-weight: 600;
  border-spacing: 0.25rem;
}

.table-reciept__table td:first-child {
  font-size: clamp(1rem, 0.667rem + 0.694vw, 1.5rem);
  width: 40%;
}

.table-reciept__table td:nth-child(2) {
  width: 25%;
}

.table-reciept__table td:nth-child(n+2) {
  text-align: right;
}

.calculation__footer {
  display: flex;
  flex-direction: column;
}

.calculation__buttons {
  flex-grow: 1;
}

.calculation__buttons-inner {
  display: flex;
  column-gap: 1.25rem;
  justify-content: space-between;
}

.calculation__btn-dark,
.calculation__btn-light {
  min-width: 45%;
}

.calculation__link {
  display: none;
}

/* webinars ======================================================= */

.webinars__header {
  margin-block-end: clamp(1.81rem, 1.31rem + 1.042vw, 2.56rem);
}

.webinars__body {
  margin-block-end: 2.38rem;
}

.webinars__cards {
  display: flex;
  flex-direction: column;
  row-gap: 0.62rem;
}

.card-webinars {
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--colorGray);
  padding: 1.38rem 1.56rem;
  display: flex;
  gap: 0.62rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.card-webinars__author {
  color: var(--colorGrayDark);
  white-space: nowrap;
}

.card-webinars__time {
  color: var(--colorGrayDark);
}

.card-webinars__datetime {
  display: flex;
  column-gap: 0.62rem;
  align-items: center;
}

.card-webinars__part {
  display: none;
}

.card-webinars--active .card-webinars__body {
  color: var(--colorBlue-2);
}

.card-webinars__body {
  display: flex;
  column-gap: 0.62rem;
  justify-content: space-between;
  align-items: center;
}

.card-webinars__part {

  border-radius: 0.375rem;
  font-weight: 600;
  color: var(--colorOrangeBright);
  background-color: var(--absoluteWhite);
  min-width: 5.2rem;
  min-height: 1.57rem;
}

.card-webinars__price {
  background-color: var(--colorGreen);
  color: var(--absoluteWhite);
  font-weight: 600;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  min-width: 5.2rem;
}

.card-webinars__price div,
.card-webinars__part div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-webinars__content {
  display: flex;
  column-gap: 0.62rem;
}

.card-webinars__text {
  white-space: nowrap;
  overflow: hidden;
  max-width: clamp(5rem, -109rem + 120vw, 35rem);
  text-overflow: ellipsis;
}

.card-webinars__toggle {
  display: none;
}

.card-webinars__buttons {
  flex-grow: 1;
  display: flex;
  column-gap: 0.62rem;
  font-size: 1.25rem;
  font-weight: 500;
  align-items: center;
}

.card-webinars__btn {
  flex-grow: 1;
}

.card-webinars__btn.button {
  font-size: 1rem;
  padding-block: 1rem;
  padding-inline: 1.63rem;
}

.card-webinars__button {
  padding: 0.3125rem 0.625rem;
  color: var(--colorRedBright);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0.1s;
}

.webinars__footer {
  display: flex;
  justify-content: flex-end;
}

.webinars__footer .webinars__link {
  width: fit-content;
}

.webinars__btn {
  display: none;
}

/* site ================================== */

.site {
  flex-basis: 50%;
}

.site__header {
  margin-block-end: 1.44rem;
}

.site__figure {
  margin-block-end: 2.88rem;
}

.site__form {
  margin-block-end: 4.25rem;
}

.site__form .group-form__label img {
  width: 2.25rem;
  height: 2.25rem;
}

.site__form .group-form__file-size-note {
  font-size: 0.625rem;
  font-weight: 500;
}

.site__btn {
  width: 100%;
}

/* office ========================================== */

.office {
  flex-basis: 50%;
}

.office__header {
  margin-block-end: 2.38rem;
}

.list-office {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.list-office__item {
  display: flex;
  justify-content: space-between;
  column-gap: 0.75rem;
  font-size: 1.25rem;
}

.list-office__title {
  font-size: clamp(1.25rem, 1.083rem + 0.347vw, 1.5rem);
  font-weight: 600;
}

.list-office__val {
  font-size: clamp(1.25rem, 0.583rem + 1.389vw, 2.25rem);
  font-weight: 700;
  color: var(--colorGreenDark);
  white-space: nowrap;
}

.office__btn {
  width: 100%;
}

/* dispatcher =================================== */
.dispatcher {
  flex-basis: 50%;
}

.dispatcher__header {
  margin-block-end: 1.56rem;
}

.dispatcher__body {
  margin-block-end: 2.69rem;
}

.dispatcher__list {
  margin-block-end: 1.56rem;
}

.list-dispatcher {
  display: flex;
  flex-direction: column;
  row-gap: 0.62rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.list-dispatcher__item {
  display: flex;
  justify-content: space-between;
  column-gap: 1.64rem;
  flex-wrap: wrap;
}

.sub-list-dispatcher {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 0.31rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.sub-list-dispatcher__item {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.sub-list-dispatcher__title {
  padding-inline-start: 0.62rem;
  display: flex;
  column-gap: 0.62rem;
  align-items: center;
}

.sub-list-dispatcher__title::before {
  content: "";
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: var(--prymery);
}

.dispatcher__graph {
  margin-block-end: 1.25rem;
}

.graph-dispatcher {
  border-radius: 1.25rem;
  background-color: var(--colorGrayLight);
  padding-inline: 4.5rem 1.68rem;
  padding-block: 1.38rem 2.12rem;
}

.graph-dispatcher__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-dispatcher__graph {
  position: relative;
}

.graph-dispatcher__graph svg {
  width: 8.9375rem;
  /* 143/16 */
  height: 8.9375rem;
  /* 143/16 */
}

.graph-dispatcher__label {
  position: absolute;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--colorBlue-2);
}

.graph-dispatcher__label.left {
  top: 65%;
  left: -2rem;
}

.graph-dispatcher__label.right {
  top: 20%;
  right: -2rem;
}

.notation-graph-dispatcher {
  display: flex;
  flex-direction: column;
  row-gap: 0.56rem;
  align-items: center;
}

.notation-graph-dispatcher__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.notation-graph-dispatcher__num {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--colorGreenDark);
  margin-block-end: 1.06rem;
}

.notation-graph-dispatcher__legend {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  column-gap: 0.62rem;
}

.notation-graph-dispatcher__legend p {
  display: flex;
  align-items: center;
  column-gap: 0.43rem;
}

.notation-graph-dispatcher__legend p::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.08538rem;
  background-color: var(--absoluteWhite);
}

.notation-graph-dispatcher__legend p:first-child::before {
  border: 0.683px solid var(--colorGrayDark);
}

.notation-graph-dispatcher__legend p:last-child::before {
  background-color: var(--colorBlue-2);
}

.dispatcher__links {
  display: flex;
  column-gap: 0.62rem;
  padding: 1.25rem 1.875rem;
  border-radius: 1.25rem;
  background-color: var(--colorBlueLight);
  align-items: center;
}

.dispatcher__links span {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 700;
}

.dispatcher__links .button {
  font-size: 1rem;
  font-weight: 700;
}

.dispatcher__icon-link {
  width: 2.25rem;
  height: 2.25rem;
  overflow: hidden;
}

.dispatcher__footer {
  display: flex;
  flex-direction: column;
  row-gap: 1.38rem;
}

.dispatcher__link {
  display: none;
}

/* tariff ============================== */

.tariff {
  flex-basis: 50%;
}

.tariff__header {
  margin-block-end: 2.19rem;
}

.tarrif__sub-title {
  font-size: clamp(1.25rem, 0.833rem + 0.868vw, 1.875rem);
  font-weight: 600;
  margin-block-end: 1.25rem;
}

.tariff__list {
  margin-block-end: 2.19rem;
}

.list-tariff {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.list-tariff__item {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  column-gap: 0.75rem;
  justify-content: space-between;
}

.tariff__conclusion {
  padding-block: 2.25rem;
  padding-inline: 1.25rem;
  border-radius: 1.25rem;
  background-color: var(--colorBlueLight);
  display: flex;
  flex-direction: column;
  row-gap: 1.31rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.tariff__order {
  font-weight: 500;
  color: var(--colorGrayDark);
  display: flex;
  column-gap: 1.25rem;
  align-items: center;
}

.tariff__order::after {
  content: "";
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.125rem;
  background-color: var(--colorRedBright);
}

.tariff__footer {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.tariff__btn {
  width: 100%;
}

/* contact =============================================== */

.contract__header {
  margin-block-end: 1.81rem;
}

.contract__body {
  margin-block-end: 1.25rem;
}

.contract__cards {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.contract__card:nth-child(n+4) {
  display: none;
}

.card-contract--active {
  color: var(--colorRedBright);
}

.card-contract--closed .card-contract__status {
  background-color: var(--colorRed);
}

.card-contract {
  padding-block: clamp(0.62rem, 0.117rem + 1.049vw, 1.375rem);
  padding-inline: clamp(0.62rem, -0.008rem + 1.309vw, 1.563rem);
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--colorGray);
  display: flex;
  column-gap: 0.62rem;
  font-weight: 600;
  font-size: clamp(1rem, 0.667rem + 0.694vw, 1.5rem);
}

.card-contract__text {
  white-space: nowrap;
  overflow: hidden;
  max-width: 65rem;
  text-overflow: ellipsis;
}

.card-contract__info {
  flex-grow: 1;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: flex-end;
}

.card-contract__val {
  padding: 0.125rem 0.375rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid transparent;
}

.card-contract__status {
  min-width: 8.06rem;
  display: flex;
  justify-content: center;
  padding: 0.13rem 0.38rem;
  border-radius: 0.5rem;
  background-color: var(--colorGreen);
  color: var(--absoluteWhite);
  font-size: 1.25rem;
}

.card-contract__toggle {
  display: none;
}

.card-contract__toggle img,
.card-contract__icon {
  width: 2.25rem;
  height: 2.25rem;
  overflow: hidden;
}

.card-contract__icon {
  transition: scale 0.3s ease 0.1s;
}

.card-contract__body {
  min-width: 100%;
  display: flex;
  gap: 0.94rem;
  align-items: center;
  justify-content: space-between;
}

.card-contract__footer {
  display: flex;
  justify-content: flex-end;
}

.card-contract__link {
  display: none;
}

.contract__link-to {
  font-size: clamp(1.25rem, 0.833rem + 0.868vw, 1.875rem);
  font-weight: 600;
  color: var(--colorBlue-2);
  width: fit-content;
}

.contract__link.button-link {
  align-self: flex-end;
}

.contract__footer {
  display: flex;
  flex-direction: column;
  row-gap: 2.12rem;
  align-items: flex-start;
}

/* market ================================================ */

.market__header {
  margin-block-end: clamp(1.44rem, 0.4rem + 2.167vw, 3rem);
}

.market__body {
  margin-block-end: clamp(1.94rem, 1.067rem + 1.819vw, 3.25rem);
}

.market__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23.8rem, 1fr));
  gap: 3.88rem;
}

.card-market {
  aspect-ratio: 1;
  border-radius: 0.9375rem;
  background-color: var(--prymery);
  min-height: 23.8rem;
  transition: all 0.3s ease 0.1s;
}

.card-market__inner {
  display: flex;
  flex-direction: column;
  row-gap: 0.62rem;

}

.card-market__figure {
  aspect-ratio: 380 / 285;
  max-height: 17.8125rem;
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;

}

.card-market__img {
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  filter: blur(1px) brightness(105%) contrast(100%) grayscale(100%) hue-rotate(0deg) invert(100%) opacity(70%) saturate(0%) sepia(0%);
}

.card-market__body {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.card-market__title {
  font-size: 1.5rem;
  font-weight: 600;
  width: fit-content;
  color: var(--absoluteWhite);
}

.card-market__desc {
  font-weight: 600;
  color: var(--colorGrayDark);
  display: none;
}

.market__footer {
  display: flex;
  justify-content: flex-end;
}

@media (any-hover: hover) {
  .button:hover {
    background-color: var(--colorBlue-2);
    border-color: var(--colorBlue-2);
  }

  .light-btn:hover {
    background-color: var(--colorBlue);
    color: var(--absoluteWhite);
  }

  .button-link:hover {
    background-color: var(--colorBlue-2);
    color: var(--absoluteWhite);
  }

  .button-link:hover path {
    fill: var(--absoluteWhite);
  }

  .menu__item:hover .menu__link {
    background-color: var(--colorBackground);
    border-left: 0.56rem solid var(--prymery);
  }

  .menu__item:hover .menu__link::before {
    width: 1.25rem;
  }

  .menu__item:hover .menu__link::after {
    width: 1.25rem;
  }

  .sub-menu__link:hover {
    text-decoration: underline;
  }

  .tell-button:hover {
    background-color: #E78D83;
  }

  .tell-button:hover .tooltip {
    display: flex;
  }

  .offise__tell-button-wrapper:hover .tooltip-card {
    display: flex;
  }

  .group-form__item:hover {
    background-color: var(--colorBlueLight);
  }

  .group-form__item:hover .group-form__label::after {
    display: block;
  }

  .btn-form:hover {
    color: var(--absoluteWhite);
    background-color: var(--colorBlue-2);
  }

  .btn-form:hover path {
    fill: var(--absoluteWhite);
  }

  .card-webinars:hover {
    background-color: var(--colorBlueLight);
  }

  .card-contract:hover {
    background-color: var(--colorBlueLight);
  }

  .legend-staff__order:hover {
    text-decoration: underline;
  }

  .card-webinars__button:hover {
    text-decoration: underline;
    color: var(--colorBlue-2);
  }

  .contract__link-to:hover {
    text-decoration: underline;
  }

  .card-market:hover .card-market__img {
    filter: none;
  }

  .card-market:hover {
    background-color: var(--absoluteWhite);
    box-shadow: 0px 4px 10px 0px rgba(36, 36, 92, 0.25);
  }

  .card-market:hover .card-market__title {
    color: var(--prymery);
  }

  #scrollTopBtn:hover {
    background-color: var(--colorBlue);
  }
}

@media (max-width: 85em) {

  [class*="__btn"] {
    width: fit-content;
  }

  .main__item:first-child,
  .main__item:nth-child(2),
  .main__item:nth-child(6),
  .main__item:nth-child(7) {
    flex-direction: column;
  }

  .info-block {
    display: none;
  }

  .services-pro__footer,
  .humor__footer,
  .site__footer,
  .office__footer {
    text-align: center;
  }

  .card-humor {
    max-height: 30rem;
  }

  .staff__list-links {
    margin-top: 0.75rem;
  }

  .graph-staff__legend {
    flex-direction: column;
    row-gap: 0.62rem;
  }

  .graph-staff__legend span:first-child::after {
    display: none;
  }

  .dispatcher__footer,
  .tariff__footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .card-webinars,
  .card-webinars__buttons {
    font-size: 1rem;
  }

  .card-webinars__btn.button {
    padding: 1rem 1.63rem;
  }
}

@media (max-width: 71em) {

  .card-webinars__author {
    display: none;
  }

  .calculation__body {
    grid-template-columns: 0.7fr auto;
    grid-template-rows: auto;
  }
}

@media (max-width: 62em) {
  .wrapper {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .header {
    grid-column: 1;
  }

  .actions-header {
    display: block;
    position: relative;
    z-index: 5;
  }

  .burger-icon {
    height: 2.25rem;
    width: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .burger-icon span:first-child {
    margin-block: 0.375rem;
  }

  .burger-icon span:last-child {
    margin-block-end: 0.375rem;
  }

  .burger-icon span,
  .burger-icon::before,
  .burger-icon::after {
    transition: all 0.3s;
    content: "";
    height: 0.125rem;
    width: 100%;
    background-color: var(--absoluteWhite);
  }

  .aside__body.open-menu {
    inset-inline-start: 0;
  }

  .burger-icon.open-menu span {
    width: 0;
    height: 0;
    margin: 0;
  }

  .burger-icon.open-menu::before {
    transform: rotate(45deg) translateY(0.09375rem);
  }

  .burger-icon.open-menu::after {
    transform: rotate(-45deg) translateY(-0.09375rem);
  }

  .aside__body {
    align-items: flex-end;
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: inset-inline-start 0.3s;
    overflow: auto;
    padding: 6.63rem 2.75rem 4.6875rem 3.1875rem;
  }

  .menu__link {
    border-radius: 0.625rem;
  }

  .menu__link::before,
  .menu__link::after {
    display: none;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .questions__title {
    font-size: 1.25rem;
  }

  .questions__desc {
    font-size: 1rem;
  }

  .list-staff__title,
  .list-staff__val {
    font-size: 1.25rem;
  }

  .list-staff__item {
    flex-direction: column;
  }

  .list-staff__item:not(:last-child)::after {
    content: "";
    height: 0.0625rem;
    width: 100%;
    background-color: var(--colorGray);
  }

  .staff__list-links {
    justify-content: space-between;
    margin-top: 0;
    margin-block-end: 1.5rem;
  }

  .staff__list-success {
    font-size: 1rem;
  }

  .staff__sub-title,
  .regulatory-list__title {
    font-size: 1.5rem;
  }

  .regulatory-list__text {
    font-size: 1.25rem;
  }

  .calculation__table-reciept {
    width: 100%;
  }
}

/* 48em ======================================== */

@media (max-width: 48em) {

  .button-link {
    font-size: 1.25rem;
  }

  .button,
  .light-btn {
    width: 100%;
  }

  .header__container {
    padding-block-end: 1.22rem;
    padding-inline-end: 0.94rem;
  }

  .header__logo {
    max-height: 7.36rem;
    transform: translateY(1.22rem);
  }

  .legal-aid__header {
    margin-block-end: 0.75rem;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .form__line:first-child {
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  }

  .group-form__fields {
    column-gap: 0.62rem;
  }

  .btn-form span {
    display: inline-block;
  }

  .btn-form {
    background-color: var(--grayLight);
    border-radius: 0.375rem;
  }

  .btn-form__icon path {
    fill: var(--colorGrayDark);
  }

  .btn-form__icon svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .questions__title {
    display: none;
  }

  .questions__date {
    display: none;
  }

  .questions__status {
    display: none;
  }

  .questions__more {
    display: table-cell;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
  }

  .legal-aid__footer {
    align-items: flex-end;
  }

  .legal-aid__btn {
    display: none;
  }

  /* services-pro ======================================== */

  .services-pro__list-title {
    font-size: 1.25rem;
    margin-block-end: 1.44rem;
  }

  .services-pro__item {
    font-size: 1rem;
  }

  /* humor ================================================ */



  /* staff ============================================ */

  .staff__header {
    margin-block-end: 1.12rem;
  }

  .list-staff__item {
    align-items: flex-start;
  }

  .staff__sub-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-block-end: 0.88rem;
  }

  .staff__list-btn.button {
    width: fit-content;
  }

  .regulatory-list__item {
    display: flex;
    flex-direction: column;
    row-gap: 0.62rem;
  }

  .regulatory-list__title {
    font-size: 1.25rem;
  }

  .regulatory-list__text {
    font-size: 1rem;
    font-weight: 700;
  }

  .regulatory-list__label {
    font-size: 1rem;
    font-weight: 700;
  }

  .regulatory-list__item:not(:last-child)::after {
    content: "";
    height: 0.0625rem;
    width: 100%;
    background-color: var(--colorGray);
  }

  .regulatory-list__label {
    display: inline-block;
  }

  .staff__link-wrapper {
    display: block;
  }

  .staff__footer {
    align-items: flex-end;
    flex-direction: column;
    row-gap: 2.25rem;
  }

  .staff__label {
    display: none;
  }

  .staff__inner {
    flex-direction: column;
    row-gap: 1.38rem;
  }

  .graph-staff {
    flex-direction: column;
    row-gap: 1.25rem;
    background-color: unset;
  }

  .graph-staff__graph-fop,
  .graph-staff__graph-number {
    flex: 1 1 100%;
    background-color: var(--colorGrayLight);
    border-radius: 1.25rem;
    padding-block: 1.25rem;
    padding-inline: 0.62rem;
  }

  .graph-staff__inner {
    width: 10.30113rem;
    height: 10.30113rem;
  }

  .graph-staff__legend {
    flex-direction: row;
  }

  /* calculation ================================================ */

  .calculation__header {
    margin-block-end: 1.69rem;
  }

  .calculation__body {
    grid-template-columns: 1fr;
  }

  .calculation__inner {
    flex-direction: column;
  }

  .list-calculation {
    row-gap: 0.75rem;
    margin-block-end: 2.31rem;
  }

  .list-calculation__item {
    display: inline-flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-block-end: 0.75rem;
  }

  .list-calculation__item:not(:last-child) {
    border-bottom: 0.0625rem solid var(--colorGray);
  }

  .list-calculation__title {
    font-weight: 500;
    font-size: 1.25rem;
  }

  .list-calculation__text {
    font-size: 1rem;
    font-weight: 700;
  }

  .calculation__table-wrapper {
    padding: 1rem;
    border-radius: 1.25rem;
    background-color: transparent;
    margin-block-end: 2.88rem;
  }

  .calculation__sub-title {
    font-size: 1.25rem;
    margin-block-end: 0.88rem;
  }

  .table-calculation__val {
    text-align: right;
  }

  .table-calculation {
    font-size: 1.25rem;
    border-spacing: 0.44rem;
  }

  .graph-calculation__notation {
    font-size: 1rem;
  }

  .graph-calculation__notation div::before {
    width: 1.25rem;
    height: 1.25rem;
  }

  .table-reciept__table {
    width: 100%;
    border-spacing: 0.75rem 1rem;
  }

  .table-reciept__table td:nth-child(2) {
    width: 100%;
  }

  .calculation__link {
    align-self: flex-end;
    display: flex;
  }

  .calculation__buttons {
    margin-block-start: 2.32rem;
  }

  .calculation__buttons-inner {
    flex-direction: column;
  }

  .calculation__btn-dark {
    margin-block-end: 1.25rem;
  }

  /* webinars ------------------------------------------------------- */

  .card-webinars {
    padding-inline: 0.63rem;
  }

  .card-webinars--registered {
    background-color: var(--colorGreen);
  }

  .registered-open {
    border: 1px solid var(--colorGray);
    background-color: var(--colorGreenLight);
  }

  .registered-open,
  .webinars-open {
    flex-direction: column;
    row-gap: 1.19rem;
  }

  .registered-open .card-webinars__toggle img,
  .webinars-open .card-webinars__toggle img {
    transform: rotate(-90deg);
  }

  .registered-open .card-webinars__body,
  .webinars-open .card-webinars__body {
    align-items: flex-start;
  }

  .registered-open .card-webinars__text,
  .webinars-open .card-webinars__text {
    color: #000;
    white-space: wrap;
    max-width: 100%;
  }

  .registered-open .card-webinars__date,
  .webinars-open .card-webinars__date {
    color: #000;
  }

  .registered-open .card-webinars__datetime,
  .webinars-open .card-webinars__datetime {
    flex-direction: column-reverse;
    align-items: flex-start;
    row-gap: 0.56rem;
  }

  .registered-open .card-webinars__time,
  .webinars-open .card-webinars__time {
    display: block;
    color: #000;
  }

  .registered-open .card-webinars__content,
  .webinars-open .card-webinars__content {
    flex-direction: column;
    row-gap: 0.62rem;
  }

  .card-webinars__content {
    flex-basis: 80%;
  }

  .registered-open .card-webinars__author,
  .webinars-open .card-webinars__author {
    display: block;
  }

  .registered-open .card-webinars__buttons,
  .webinars-open .card-webinars__buttons {
    display: flex;
    justify-content: space-between;
  }

  .registered-open .card-webinars__button,
  .webinars-open .card-webinars__button {
    flex-basis: 49.333%;
    border: 0.1875rem solid var(--colorBlue);
    color: var(--colorBlue);
    border-radius: 0.625rem;
    text-align: center;
    padding: 1rem 1.63rem;
  }

  .registered-open .card-webinars__btn.button {
    background: #0C5CFF;
    border-color: #0C5CFF;
  }

  .card-webinars__btn {
    flex-grow: 0;
    flex-basis: 49.333%;
  }

  .card-webinars--registered .card-webinars__body {
    color: var(--absoluteWhite);
  }

  .card-webinars--registered .card-webinars__part {
    display: block;

  }

  .card-webinars--registered .card-webinars__price {
    display: none;
  }

  .card-webinars__body {
    width: 100%;
  }


  .card-webinars__time {
    display: none;
  }

  .card-webinars__price {
    padding-block: 0.125rem;
  }

  .card-webinars__price div,
  .card-webinars__part div {
    min-height: 1.57rem;
  }

  .card-webinars__text {
    max-width: clamp(5rem, -20.176rem + 94.118vw, 25rem);
  }

  .card-webinars__toggle {
    width: 2.25rem;
    height: 2.25rem;
    overflow: hidden;
    display: block;
  }

  .card-webinars__buttons {
    display: none;
  }

  .webinars__link {
    display: none;
  }

  .webinars__btn {
    display: flex;
  }

  /* site -------------------------------------------------------- */

  /* office ----------------------------------------------------- */

  .office__body {
    margin-block-end: 3.19rem;
  }

  /* dispatcher ------------------------------------------------- */

  .dispatcher__body {
    margin-block-end: 2.31rem;
  }

  .dispatcher__list {
    display: none;
  }

  .list-dispatcher {
    font-size: 1.25rem;
  }

  .list-dispatcher__item {
    justify-content: space-between;
    row-gap: 0.62rem;
  }

  .list-dispatcher__title {
    font-weight: 700;
    flex-basis: 70%;
  }

  .list-dispatcher__val {
    color: var(--colorGreenDark);
    font-weight: 700;
  }

  .graph-dispatcher {
    display: flex;
    justify-content: center;
    padding-block: 1.88rem 1.23rem;
    padding-inline: 0;
  }

  .graph-dispatcher__wrapper {
    width: fit-content;
    position: relative;
    flex-direction: column;
    row-gap: 1.43rem;
  }

  .graph-dispatcher__graph svg {
    width: 12.30113rem;
    height: 12.30113rem;
  }

  .notation-graph-dispatcher__title {
    position: absolute;
    top: 5rem;
    left: 23%;
    font-size: 0.75rem;
    font-weight: 500;
  }

  .notation-graph-dispatcher__num {
    position: absolute;
    top: 6.31rem;
    left: 42%;
    font-size: 1.5rem;
  }

  .dispatcher__links {
    display: none;
  }

  .dispatcher__links span {
    font-size: 1rem;
  }

  .dispatcher__footer {
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .dispatcher__link {
    display: flex;
  }

  .dispatcher__btn-dark {
    display: none;
  }

  .dispatcher__btn-dark.button {
    width: 100%;
  }

  .dispatcher__btn-light {
    display: none;
  }

  .dispatcher__btn-light.light-btn {
    width: 100%;
  }

  .tariff__header {
    margin-block-end: 2.25rem;
  }

  .tariff__body {
    margin-block-end: 3.25rem;
  }

  .tarrif__sub-title {
    font-weight: 700;
  }

  .list-tariff {
    row-gap: 1.25rem;
    font-weight: 500;
    margin-block-end: 2.5rem;
  }

  .tariff__conclusion {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .tariff__footer {
    flex-direction: column;
    row-gap: 1.25rem;
  }

  .tariff__btn.button,
  .tariff__btn.light-btn {
    width: 100%;
  }

  /* contract ============================================ */

  .contract__body {
    margin-block-end: 1.06rem;
  }

  .card-contract {
    flex-direction: column;
    row-gap: 0.97rem;
  }

  .card-contract__body {
    flex-wrap: wrap;
  }

  .card-contract__info {
    order: 1;
    flex-grow: 1;
    justify-content: flex-start;
    flex: 1 0 100%;
  }

  .card-contract__text {
    order: 2;
  }

  .card-contract__icon {
    order: 3;
    display: none;
  }

  .contract-open .card-contract__text {
    white-space: wrap;
    max-width: 16rem;
  }

  .contract-open .card-contract__icon {
    display: block;
  }

  .contract-open .card-contract__toggle img {
    transform: rotate(180deg);
  }

  .contract-open .card-contract__link {
    display: flex;
  }

  .card-contract__toggle {
    display: block;
    flex-grow: 1;
    text-align: right;
  }

  .contract-minus .card-contract__val {
    border-color: var(--colorRedBright);
    color: var(--colorRedBright);
  }

  .contract-minus .card-contract__text {
    color: var(--colorRedBright);
  }

  .contract__card:nth-child(4) {
    display: block;
  }

  .contract__card:nth-child(n+5) {
    display: none;
  }

  /* market ============================================ */

  .card-market {
    aspect-ratio: 375 / 180;
    background-color: var(--absoluteWhite);
    box-shadow: 0px 4px 10px 0px rgba(36, 36, 92, 0.25);
    min-height: auto;
    max-height: 11.25rem;
    overflow: hidden;
  }

  .card-market__inner {
    flex-direction: row;
    column-gap: 0.62rem;
  }

  .card-market__figure {
    aspect-ratio: 152 / 180;
    min-height: 11.25rem;
    border-radius: 0.9375rem 0rem 0rem 0.9375rem;
    overflow: hidden;
  }

  .card-market__figure img {
    border-radius: 0.9375rem 0rem 0rem 0.9375rem;
    filter: sepia(0);
  }

  .card-market__body {
    padding-block-start: 1.12rem;
    padding-inline-end: 0.62rem;
    padding-inline-start: 0;
  }

  .card-market__title {
    font-size: 1.25rem;
    color: var(--prymery);
    font-weight: 700;
  }

  .card-market__desc {
    display: inline-block;
  }
}